flows.json
[{"id":"b7f911ce.6251c","type":"tab","label":"Examples","disabled":false,"info":"To learn all the ways you can access KMC Commander data: https://api.docs.kmccommander.com"},{"id":"f3ac9c80.0d513","type":"tab","label":"JWT Login","disabled":false,"info":""},{"id":"294be8e2.6a5248","type":"tab","label":"Initialize Globals","disabled":false,"info":""},{"id":"4e38c2bf.a3453c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5e82b4f7.793f8c","type":"debug","z":"294be8e2.6a5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":740,"wires":[]},{"id":"99039b65.6f36a8","type":"inject","z":"294be8e2.6a5248","name":"run","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":740,"wires":[["96b09ec8.31e6c"]]},{"id":"96b09ec8.31e6c","type":"change","z":"294be8e2.6a5248","name":"Get Global Networks","rules":[{"t":"set","p":"payload","pt":"msg","to":"haystack.network","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":740,"wires":[["5e82b4f7.793f8c"]]},{"id":"74faa890.cb8d48","type":"debug","z":"294be8e2.6a5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":780,"wires":[]},{"id":"d37bceb3.5c232","type":"change","z":"294be8e2.6a5248","name":"Get Global Devices","rules":[{"t":"set","p":"payload","pt":"msg","to":"haystack.device","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":780,"wires":[["74faa890.cb8d48"]]},{"id":"efe384d3.9b66a8","type":"comment","z":"294be8e2.6a5248","name":"Manual Check for Global Objects    ----------------->","info":"","x":200,"y":700,"wires":[]},{"id":"7437ce4c.83d26","type":"debug","z":"294be8e2.6a5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":860,"wires":[]},{"id":"5c78042b.feb1ac","type":"change","z":"294be8e2.6a5248","name":"Get Global Dashboard","rules":[{"t":"set","p":"payload","pt":"msg","to":"haystack.dashboard","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":860,"wires":[["7437ce4c.83d26"]]},{"id":"9dea8ca7.325d9","type":"change","z":"294be8e2.6a5248","name":"to Global","rules":[{"t":"set","p":"default.timestamp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":960,"wires":[[]]},{"id":"656ff4d0.988acc","type":"inject","z":"294be8e2.6a5248","name":"Global Timestamp","topic":"timestamp","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":130,"y":960,"wires":[["8126aa53.b15e08"]]},{"id":"1fdb82b0.f3343d","type":"comment","z":"294be8e2.6a5248","name":"Set the Global Timestamp Variable    ----------------->","info":"","x":220,"y":920,"wires":[]},{"id":"c50b4f53.305ab","type":"debug","z":"294be8e2.6a5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":1000,"wires":[]},{"id":"79cb7391.f924dc","type":"inject","z":"294be8e2.6a5248","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1000,"wires":[["97d8a843.03d2d8"]]},{"id":"97d8a843.03d2d8","type":"change","z":"294be8e2.6a5248","name":"Get Global Default","rules":[{"t":"set","p":"payload","pt":"msg","to":"default","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1000,"wires":[["c50b4f53.305ab"]]},{"id":"a5c60bb6.e78eb8","type":"debug","z":"294be8e2.6a5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":820,"wires":[]},{"id":"738cfb28.3d1794","type":"change","z":"294be8e2.6a5248","name":"Get Global points","rules":[{"t":"set","p":"payload","pt":"msg","to":"haystack.point","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":820,"wires":[["a5c60bb6.e78eb8"]]},{"id":"8126aa53.b15e08","type":"function","z":"294be8e2.6a5248","name":"Format timestamp","func":"var date = new Date(msg.payload);\nmsg.payload = date.toISOString();\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":960,"wires":[["9dea8ca7.325d9"]]},{"id":"2d3cc958.156306","type":"inject","z":"294be8e2.6a5248","name":"run","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":780,"wires":[["d37bceb3.5c232"]]},{"id":"3eac3a37.4f8fa6","type":"inject","z":"294be8e2.6a5248","name":"run","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["738cfb28.3d1794"]]},{"id":"b3390b8f.8393e8","type":"inject","z":"294be8e2.6a5248","name":"run","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[["5c78042b.feb1ac"]]},{"id":"73f9632b.5d324c","type":"change","z":"294be8e2.6a5248","name":"to Global","rules":[{"t":"set","p":"haystack.network","pt":"global","to":"$merge(\t   [\t       payload.results.{\t           (tags.dis?tags.dis:tags.id):{\t               \"tags\":tags,\t               \"tagTypes\":tagTypes,\t               \"updatedAt\":updatedAt\t   \t           }\t\t       },\t       $globalContext('haystack.network')\t   ]\t)","tot":"jsonata"},{"t":"set","p":"user.licenseKey","pt":"global","to":"payload.results[0].licenseKey","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":140,"wires":[["dd060e4b.e91c"]]},{"id":"2673d3f9.0f06fc","type":"http request","z":"294be8e2.6a5248","name":"GET network","method":"GET","ret":"obj","url":"{{{serverUrl}}}/data/objects?q={{{query}}}","tls":"","x":490,"y":140,"wires":[["73f9632b.5d324c","3da2a514.c04a8a","c87ae3ec.e9bd4"]]},{"id":"dd060e4b.e91c","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":140,"wires":[]},{"id":"3da2a514.c04a8a","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":100,"wires":[]},{"id":"d82a0cf8.6ed85","type":"change","z":"294be8e2.6a5248","name":"to Global","rules":[{"t":"set","p":"haystack.device","pt":"global","to":"$merge(\t   [\t      $globalContext('haystack.device'),\t       payload.results.{\t           (tags.dis?tags.dis:tags.id):{\t               \"tags\":tags,\t               \"tagTypes\":tagTypes,\t               \"updatedAt\":updatedAt\t           }\t       }\t   ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":260,"wires":[["41d8f22f.1c5a2c"]]},{"id":"e2e64897.19a2e8","type":"inject","z":"294be8e2.6a5248","name":"","topic":"device ","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"4","x":100,"y":260,"wires":[["c87ae3ec.e9bd4"]]},{"id":"d23b0d8d.bdb15","type":"http request","z":"294be8e2.6a5248","name":"GET device","method":"GET","ret":"obj","url":"{{{serverUrl}}}/api/objects?q={{{query}}}&page={{{payload.nextPage}}}","tls":"","x":490,"y":260,"wires":[["555a3558.9f9eec","e425455d.9fe4c8"]]},{"id":"41d8f22f.1c5a2c","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":260,"wires":[]},{"id":"555a3558.9f9eec","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":220,"wires":[]},{"id":"5409f880.3a69f8","type":"comment","z":"294be8e2.6a5248","name":"On startup check the API db for objects     ----------------->","info":"","x":220,"y":20,"wires":[]},{"id":"1692b20d.c2ef2e","type":"setUrl","z":"294be8e2.6a5248","name":"Set Url","query":"network","x":310,"y":140,"wires":[["2673d3f9.0f06fc","3da2a514.c04a8a","c9d411c4.53ee2","5be648d0.422898"],[]]},{"id":"c87ae3ec.e9bd4","type":"setUrl","z":"294be8e2.6a5248","name":"Set Url","query":"device","x":320,"y":260,"wires":[["d23b0d8d.bdb15"],[]]},{"id":"e7f1f294.243a3","type":"http request","z":"294be8e2.6a5248","name":"GET Dashboard","method":"GET","ret":"obj","url":"{{{serverUrl}}}/api/objects?q={{{query}}}","tls":"","x":580,"y":600,"wires":[["4024d946.41cb48","c09b023f.9e9ee"]]},{"id":"d3d4be93.5f4fb","type":"debug","z":"294be8e2.6a5248","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":600,"wires":[]},{"id":"a7d6a273.304c4","type":"comment","z":"294be8e2.6a5248","name":"Read Cards from db and store to Globals      ----------------->","info":"","x":220,"y":560,"wires":[]},{"id":"4024d946.41cb48","type":"change","z":"294be8e2.6a5248","name":"to Global","rules":[{"t":"set","p":"haystack.dashboard","pt":"global","to":"(\t$merge(\t   [\t      $globalContext('haystack.dashboard'),\t       payload.results.{\t           (tags.dis?tags.dis:tags.id):{\t               \"tags\":tags,\t               \"tagTypes\":tagTypes,\t               \"updatedAt\":updatedAt\t           }\t       }\t   ]\t)\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":600,"wires":[["d3d4be93.5f4fb","e8f1891f.0c6778"]]},{"id":"4a3cb63b.850038","type":"setUrl","z":"294be8e2.6a5248","name":"Set Url","query":"userId=={{userId}} and dashboard","x":410,"y":600,"wires":[["e7f1f294.243a3"],[]]},{"id":"c09b023f.9e9ee","type":"debug","z":"294be8e2.6a5248","name":"msg","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":640,"wires":[]},{"id":"d49daa94.d6b958","type":"inject","z":"294be8e2.6a5248","name":"Timer","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":90,"y":140,"wires":[["1692b20d.c2ef2e"]]},{"id":"bbd432a4.c2671","type":"link in","z":"294be8e2.6a5248","name":"Update Global Virtuals","links":["d34d43c1.d875d","f19a7361.7aaa1","63e3720e.71e3dc","ea44d935.406748","3b4e97c2.31ce08"],"x":215,"y":180,"wires":[["1692b20d.c2ef2e"]]},{"id":"c9d411c4.53ee2","type":"function","z":"294be8e2.6a5248","name":"Loading Global Objects","func":"var date= new Date();\nconsole.info(date,\"Loading Global Objects...\")\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":100,"wires":[[]]},{"id":"e8f1891f.0c6778","type":"function","z":"294be8e2.6a5248","name":"Global Objects Complete","func":"var date= new Date();\nconsole.info(date,\"Global Objects Loaded\")\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":560,"wires":[[]]},{"id":"878272de.7c151","type":"change","z":"294be8e2.6a5248","name":"to Global","rules":[{"t":"set","p":"haystack.point","pt":"global","to":"(\t$d:=$globalContext(\"haystack.device\");\t$IdtoDis:=$d.*.tags{id:dis};\t$merge(\t   [\t      $globalContext('haystack.point'),\t        payload.results.{\t            (tags.dis?$lookup($IdtoDis,tags.deviceRef)&\".\"&tags.dis:tags.id):{\t                \"tags\":tags,\t                \"tagTypes\":tagTypes,\t                \"updatedAt\":updatedAt\t           }\t        }\t    ])\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":360,"wires":[["706516dc.f305e8"]]},{"id":"f7118e4.126997","type":"inject","z":"294be8e2.6a5248","name":"","topic":"points of Interest","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":130,"y":360,"wires":[["f68a2534.c9b0f8"]]},{"id":"1ab0e724.6470c9","type":"http request","z":"294be8e2.6a5248","name":"GET points","method":"GET","ret":"obj","url":"{{{serverUrl}}}/api/objects?q={{{query}}}&page={{{payload.nextPage}}}","tls":"","x":490,"y":360,"wires":[["fc6b9cbc.37ff3","c135ce76.284e5"]]},{"id":"706516dc.f305e8","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":360,"wires":[]},{"id":"fc6b9cbc.37ff3","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":320,"wires":[]},{"id":"f68a2534.c9b0f8","type":"setUrl","z":"294be8e2.6a5248","name":"Set Url","query":"pointOfInterest","x":330,"y":360,"wires":[["1ab0e724.6470c9"],[]]},{"id":"5be648d0.422898","type":"switch","z":"294be8e2.6a5248","name":"test for Haystack Object","property":"haystack","propertyType":"global","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":60,"wires":[["3352ca5d.596296"]]},{"id":"3352ca5d.596296","type":"change","z":"294be8e2.6a5248","name":"Default Object Structure","rules":[{"t":"set","p":"haystack","pt":"global","to":"{\"description\":\"Objects found in the Commander db\"}","tot":"json"},{"t":"set","p":"haystack.network","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"haystack.device","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"haystack.point","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"haystack.connection","pt":"global","to":"[]","tot":"json"},{"t":"set","p":"haystack.dashboard","pt":"global","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":60,"wires":[["5d4a8310.82a74c"]]},{"id":"5d4a8310.82a74c","type":"debug","z":"294be8e2.6a5248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":60,"wires":[]},{"id":"5fd41e9b.93a43","type":"change","z":"294be8e2.6a5248","name":"to Global","rules":[{"t":"set","p":"haystack.project","pt":"global","to":"payload.results.{\t   (tags.dis?tags.dis:tags.id):{\t        \"tags\":tags,\t        \"tagTypes\":tagTypes,\t        \"updatedAt\":updatedAt\t   }\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":480,"wires":[["d8e63b34.cba9c8"]]},{"id":"d13a2763.16cf58","type":"inject","z":"294be8e2.6a5248","name":"project","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":90,"y":480,"wires":[["4f19c5c3.fe163c"]]},{"id":"c0143c1c.9b93","type":"http request","z":"294be8e2.6a5248","name":"GET project","method":"GET","ret":"obj","url":"{{{serverUrl}}}/data/objects?q={{{query}}}","tls":"","x":490,"y":480,"wires":[["926d7aa.b7c2388","5fd41e9b.93a43","b9efba9.4c33148"]]},{"id":"d8e63b34.cba9c8","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":480,"wires":[]},{"id":"926d7aa.b7c2388","type":"debug","z":"294be8e2.6a5248","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":440,"wires":[]},{"id":"4f19c5c3.fe163c","type":"setUrl","z":"294be8e2.6a5248","name":"Set Url","query":"project","x":330,"y":480,"wires":[["c0143c1c.9b93"],[]]},{"id":"e425455d.9fe4c8","type":"getPage","z":"294be8e2.6a5248","name":"getPage","x":640,"y":260,"wires":[["d82a0cf8.6ed85","f68a2534.c9b0f8"],["d23b0d8d.bdb15"],[]]},{"id":"c135ce76.284e5","type":"getPage","z":"294be8e2.6a5248","name":"getPage","x":640,"y":360,"wires":[["878272de.7c151","4f19c5c3.fe163c"],["1ab0e724.6470c9"],[]]},{"id":"ef31871b.287bc8","type":"change","z":"f3ac9c80.0d513","name":"Get Config","rules":[{"t":"set","p":"user.jwt","pt":"global","to":"payload.jwt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":280,"wires":[["ea44d935.406748"]]},{"id":"808c2209.1df0c","type":"file in","z":"f3ac9c80.0d513","name":"Load Token","filename":"projectJwt","format":"utf8","chunk":false,"sendError":false,"x":250,"y":280,"wires":[["34a27853.39b9e8"]]},{"id":"9fba93d6.4b46f","type":"inject","z":"f3ac9c80.0d513","name":"Load jwt","topic":"","payload":"{}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["808c2209.1df0c"]]},{"id":"34a27853.39b9e8","type":"json","z":"f3ac9c80.0d513","name":"","property":"payload","action":"","pretty":false,"x":390,"y":280,"wires":[["ef31871b.287bc8"]]},{"id":"ea44d935.406748","type":"link out","z":"f3ac9c80.0d513","name":"Login Complete, file sys","links":["bbd432a4.c2671"],"x":675,"y":280,"wires":[]},{"id":"3e70aef6.a189f2","type":"comment","z":"f3ac9c80.0d513","name":"JWT Loading (Option A)","info":"","x":120,"y":240,"wires":[]},{"id":"a4f5be52.0182d","type":"comment","z":"f3ac9c80.0d513","name":"Commander Coud URL","info":"","x":120,"y":360,"wires":[]},{"id":"8533c339.39ec","type":"config","z":"f3ac9c80.0d513","name":"store Commander Cloud server URL","properties":[{"p":"user.serverUrl","pt":"global","to":"https://app.kmccommander.com","tot":"str"},{"p":"user.connectsid","pt":"global","to":"{}","tot":"json"},{"p":"user.licensekey","pt":"global","to":"{}","tot":"json"}],"active":true,"x":190,"y":400,"wires":[]},{"id":"aeebfab.3d6da08","type":"http in","z":"f3ac9c80.0d513","name":"http visual","url":"/visual/login","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["b128f825.b8ad68"]]},{"id":"80f96d82.7fc7e","type":"comment","z":"f3ac9c80.0d513","name":"Redirect from Commander UI","info":"","x":140,"y":80,"wires":[]},{"id":"5c500828.9a3d68","type":"http response","z":"f3ac9c80.0d513","name":"http visual","statusCode":"401","headers":{},"x":390,"y":160,"wires":[]},{"id":"3b4e97c2.31ce08","type":"link out","z":"f3ac9c80.0d513","name":"Login Complete, http In","links":["bbd432a4.c2671"],"x":355,"y":80,"wires":[]},{"id":"379f1d58.af2b92","type":"http response","z":"f3ac9c80.0d513","name":"redirect","statusCode":"302","headers":{"location":"/"},"x":540,"y":120,"wires":[]},{"id":"7b485485.ffc12c","type":"comment","z":"b7f911ce.6251c","name":"Click \"+\" to create a new tab","info":"","x":1020,"y":20,"wires":[]},{"id":"5200806d.df33f","type":"comment","z":"b7f911ce.6251c","name":"Example flow to Query a Point from the API   ------------->","info":"","x":570,"y":120,"wires":[]},{"id":"52cc81ee.a05fc","type":"debug","z":"b7f911ce.6251c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":220,"wires":[]},{"id":"db02ba8f.998db8","type":"comment","z":"b7f911ce.6251c","name":"The result is sent to the debug window","info":"","x":980,"y":180,"wires":[]},{"id":"db061250.80256","type":"setUrl","z":"b7f911ce.6251c","name":"Set Url","query":"room and sp","x":450,"y":220,"wires":[["514ddf01.485a7"],[]]},{"id":"514ddf01.485a7","type":"http request","z":"b7f911ce.6251c","name":"GET points","method":"GET","ret":"obj","url":"{{{serverUrl}}}/data/objects?q={{{query}}}","tls":"","x":700,"y":220,"wires":[["52cc81ee.a05fc"]]},{"id":"166f107a.dce11","type":"comment","z":"b7f911ce.6251c","name":"setUrl handles API connection","info":"","x":480,"y":180,"wires":[]},{"id":"cb316d2c.7aa26","type":"comment","z":"b7f911ce.6251c","name":"Double-click to change the Query","info":"","x":470,"y":260,"wires":[]},{"id":"e6e0c059.ab7f1","type":"inject","z":"b7f911ce.6251c","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["db061250.80256"]]},{"id":"61812580.81640c","type":"comment","z":"b7f911ce.6251c","name":"Click the inject button to start the flow","info":"","x":160,"y":180,"wires":[]},{"id":"ec7c020c.03579","type":"comment","z":"f3ac9c80.0d513","name":"Handles login to the API","info":"","x":410,"y":20,"wires":[]},{"id":"559ef24e.a878dc","type":"debug","z":"b7f911ce.6251c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":620,"wires":[]},{"id":"f1750a66.d8ac98","type":"change","z":"b7f911ce.6251c","name":"Get Haystack Objects","rules":[{"t":"set","p":"payload","pt":"msg","to":"haystack","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":620,"wires":[["559ef24e.a878dc"]]},{"id":"37d97aae.8f9b96","type":"debug","z":"b7f911ce.6251c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":800,"wires":[]},{"id":"df7cd5a8.52fc58","type":"inject","z":"b7f911ce.6251c","name":"ID","topic":"e0f6cf10-ad11-11e7-98c8-f729592bd3e9","payload":"default","payloadType":"global","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":800,"wires":[["63d47082.b32fa"]]},{"id":"63d47082.b32fa","type":"change","z":"b7f911ce.6251c","name":"Get Global  Object by Id","rules":[{"t":"set","p":"payload","pt":"msg","to":"haystack","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"( $globalIds:=payload.*;\t$obj:= $globalIds.*.tags[id=$$.topic];\t{$obj.dis?$obj.dis:\"id not found\":{\"tags\":$obj}}\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":800,"wires":[["37d97aae.8f9b96"]]},{"id":"5b322fe6.36b59","type":"comment","z":"b7f911ce.6251c","name":"Display all Global Objects    ----------------->","info":"","x":460,"y":540,"wires":[]},{"id":"742f42f5.7f5b2c","type":"comment","z":"b7f911ce.6251c","name":"Lookup Global Object by Id in topic ----------------->","info":"","x":450,"y":720,"wires":[]},{"id":"ba873ac9.d3a738","type":"inject","z":"b7f911ce.6251c","name":"run","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["f1750a66.d8ac98"]]},{"id":"5f3daafe.afc484","type":"comment","z":"b7f911ce.6251c","name":"Example to use a point from the Global Context   ------------->","info":"","x":520,"y":360,"wires":[]},{"id":"8f54a030.5a09c","type":"inject","z":"b7f911ce.6251c","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":440,"wires":[["7a4ce8ec.b6a818"]]},{"id":"7a4ce8ec.b6a818","type":"getGlobal","z":"b7f911ce.6251c","name":"Get Global","objectType":"","globalObj":"","typeAndObject":".","x":470,"y":440,"wires":[["92c604f8.f46408"],[]]},{"id":"73e92fe1.a6571","type":"comment","z":"b7f911ce.6251c","name":"The ID to look for","info":"","x":100,"y":760,"wires":[]},{"id":"15c82fab.eb02e","type":"comment","z":"b7f911ce.6251c","name":"1.","info":"","x":70,"y":100,"wires":[]},{"id":"7df19f29.27dc1","type":"comment","z":"b7f911ce.6251c","name":"2.","info":"","x":70,"y":340,"wires":[]},{"id":"d29bddcb.1104","type":"comment","z":"b7f911ce.6251c","name":"3.","info":"","x":70,"y":520,"wires":[]},{"id":"b722bb28.c77a98","type":"comment","z":"b7f911ce.6251c","name":"4.","info":"","x":70,"y":700,"wires":[]},{"id":"9ba0e056.dfdb5","type":"comment","z":"b7f911ce.6251c","name":"Double-click to select the object","info":"","x":510,"y":400,"wires":[]},{"id":"92c604f8.f46408","type":"debug","z":"b7f911ce.6251c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":440,"wires":[]},{"id":"d7dc790e.9a9a08","type":"comment","z":"b7f911ce.6251c","name":"Hot Water Supply Setpoint Reset from Outside Air temp -------------------->","info":"","x":560,"y":1120,"wires":[]},{"id":"7676d624.59d678","type":"comment","z":"b7f911ce.6251c","name":"For this example go to the menu and import \"hotWaterSupplyRest\" from the library","info":"","x":320,"y":1180,"wires":[]},{"id":"e9368e3c.f113c","type":"comment","z":"b7f911ce.6251c","name":"6.","info":"","x":70,"y":1080,"wires":[]},{"id":"48de2485.7440ac","type":"comment","z":"b7f911ce.6251c","name":"Example to transfer a point curVal from one controller to another  ------------->","info":"","x":570,"y":940,"wires":[]},{"id":"4c4a35ae.508e2c","type":"comment","z":"b7f911ce.6251c","name":"5.","info":"","x":70,"y":900,"wires":[]},{"id":"23e7739.f73bf8c","type":"comment","z":"b7f911ce.6251c","name":"For this example go to the menu and import \"pointTransfer\" from the library","info":"","x":310,"y":1020,"wires":[]},{"id":"d314d48.ad6a128","type":"comment","z":"f3ac9c80.0d513","name":"CAUTION: Do not delete this JWT (JSON Web Token) Login tab or edit its contents! (If you do, you may not be able to login again.)","info":"Do not delete this JWT (JSON Web Token) Login tab or edit its contents! (If you do, you may not be able to login again.)","x":1050,"y":20,"wires":[]},{"id":"3572786c.364bd8","type":"comment","z":"294be8e2.6a5248","name":"CAUTION: Do not delete the Initialize Globals tab and be very careful about editing its contents. (If you do, a variety of functions may stop working.)","info":"","x":1220,"y":20,"wires":[]},{"id":"bbc82482.95f0f8","type":"comment","z":"294be8e2.6a5248","name":"Set this to Run on Interval or Time","info":"","x":140,"y":100,"wires":[]},{"id":"b128f825.b8ad68","type":"verifyJwt","z":"f3ac9c80.0d513","name":"verifyJwt","x":220,"y":140,"wires":[["3b4e97c2.31ce08","36071bac.226c94"],["5c500828.9a3d68"]]},{"id":"36071bac.226c94","type":"function","z":"f3ac9c80.0d513","name":"Set Headers","func":"msg.headers = {};\nmsg.headers['Cache-Control'] = 'no-cache';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["379f1d58.af2b92"]]},{"id":"993c048f.7db6f8","type":"inject","z":"294be8e2.6a5248","name":"Dashboard","topic":"{}","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":100,"y":600,"wires":[["b9efba9.4c33148"]]},{"id":"b9efba9.4c33148","type":"change","z":"294be8e2.6a5248","name":"user","rules":[{"t":"set","p":"userId","pt":"msg","to":"user.userId","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":600,"wires":[["4a3cb63b.850038"]]},{"id":"3bdc36d7.161aea","type":"inject","z":"4e38c2bf.a3453c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":380,"y":160,"wires":[["59bf7db4.24f594"]]},{"id":"9c5269d3.d0fc18","type":"debug","z":"4e38c2bf.a3453c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":160,"wires":[]},{"id":"59bf7db4.24f594","type":"function","z":"4e38c2bf.a3453c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":160,"wires":[["9c5269d3.d0fc18"]]}]